<section id="awards" class="section">
  <div class="section__head">
    <span class="section__num">06</span>
    <h2 class="section__title" data-i18n="awardsH">Awards</h2>
  </div>
  <div class="timeline">
    <div class="timeline__row">
      <div class="timeline__place"><span class="diamond">◆</span><span data-i18n="aw1Place"></span></div>
      <div>
        <div class="timeline__title" data-i18n="aw1Title"></div>
        <div class="timeline__sub" data-i18n="aw1Sub"></div>
        <p class="timeline__desc" data-i18n="aw1Desc"></p>
      </div>
    </div>
    <div class="timeline__row">
      <div class="timeline__place"><span class="diamond">◆</span><span data-i18n="aw2Place"></span></div>
      <div>
        <div class="timeline__title" data-i18n="aw2Title"></div>
        <div class="timeline__sub" data-i18n="aw2Sub"></div>
        <p class="timeline__desc" data-i18n="aw2Desc"></p>
      </div>
    </div>
    <div class="timeline__row">
      <div class="timeline__time timeline__time--faint">[ add ]</div>
      <div>
        <div class="timeline__add" data-i18n="awAdd"></div>
      </div>
    </div>
  </div>
</section>
